# Node
node_modules/
.pnpm-store/
.yarn/
yarn.lock
package-lock.json

# Rust
/target/
**/*.rs.bk

# OS / Editor
.DS_Store
Thumbs.db
.idea/
*.log
*.swp

# Build outputs
**/dist/
/build/
/out/

# Tauri (all apps)
**/src-tauri/target/
**/src-tauri/.cargo/
**/src-tauri/gen/


# Misc
.env*
**/.env*
coverage/
