.wrapper {
    height: 100%;
    padding: 0 5px;
    overflow: auto;
    scrollbar-width: thin;
    -webkit-user-select: none;
    user-select: none;
    :global {
        *,
        *::before,
        *::after {
            -webkit-user-select: none;
            user-select: none;
        }
    }
}
